/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #F2F4F7;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.container {
  width: 1200px;
  margin: 0 auto 0 auto;
}
@media (max-width: 1380px) {
  .container {
    max-width: 100%;
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
