.delivery {
  background: #f2f4f7;
  border-radius: 20px;
}
.delivery_block {
  padding: 56px 40px 46px 40px;
}
.delivery_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #14233d;
}
.delivery_subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 110%;
  color: #14233d;
  margin: 52px 0px 30px 0px;
}
.delivery_conditions_item_title {
  font-size: 16px;
  color: #abb1c5;
}
.delivery_conditions_item_text {
  font-size: 18px;
  line-height: 140%;
  color: #14233d;
}
@media (max-width: 768px) {
  .delivery_block {
    padding: 46px 20px;
  }
  .delivery_title {
    font-size: 36px;
  }
  .delivery_subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 29px 0px 25px 0px;
  }
  .delivery_conditions_item_title {
    font-size: 14px;
    line-height: 22px;
  }
  .delivery_conditions_item_text {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .delivery_block {
    padding: 31px 20px;
  }
  .delivery_title {
    font-size: 32px;
  }
  .delivery_subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 27px 0px;
  }
  .delivery_conditions_item_title {
    font-size: 14px;
  }
  .delivery_conditions_item_text {
    font-size: 16px;
  }
}
